$logoColor: #595653;
$mainTextColor: #313131;
$blueTextColor: #3057a2;
$white: #fff;
$redColor: #f54932;
$almondColor: #e9ded4;
$bottomBlack: #060606;
$bottomBorderBlack: #303030;
$bottomOrange: #fbce51;
$sunYellow: #fbce51;
$tableBorder: #d0d0d0;
$sliderControlsColor: #d9d9d9;

$animation: ease-in-out 0.25s;
