:root {
	--marquee-elements-displayed: 3;
	--marquee-element-width: calc(100vw / var(--marquee-elements-displayed));
	--marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}
.marquee {
	background-color: $redColor;

	padding: 18px 0;

	&__items {
		display: flex;
		position: relative;
		height: 100%;
		width: 100vw;
		animation: scrolling var(--marquee-animation-duration) linear infinite;
	}
	&__item {
		flex: 0 0 var(--marquee-element-width);
		padding: 0 12px;
		position: relative;
		color: $white;
		font-family: Merriweather;
		font-size: 22px;
		@include adaptive-font(22, 16);
		@media (min-width: ($mw + px)) {
			font-size: 22px;
		}
		line-height: 110%; /* 24.2px */
		text-transform: uppercase;
		white-space: nowrap;

		// animation: redline 2s infinite linear;
		&::after {
			right: -16px;
		}
		&::before {
			left: -16px;
		}
		&::before,
		&::after {
			content: ' ';
			height: 8px;
			width: 8px;

			display: inline-block;
			top: 0;
			transform: translateY(-50%);
			position: relative;
			border-radius: 50%;
			background-color: $white;
		}
	}
}
@keyframes scrolling {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(
			calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
		);
	}
}
