.slider {
	position: relative;
	width: 100%;
	display: block;
	&__content {
		width: 100%;
		display: block;

		position: relative;
	}
	&__item {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;

		bottom: 0;
		opacity: 0;
		transition: $animation;

		&.active {
			opacity: 1;
			transform: translateX(0%);
		}
		@media (max-width: $md2) {
			&-next {
				transform: translateX(100%);
			}
			&-prev {
				transform: translateX(-100%);
			}
		}
	}
}

.controls {
	position: relative;

	bottom: calc(-100% - 15px);

	display: flex;
	height: 50px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	column-gap: 6px;

	&__item {
		z-index: 4;
		height: 44px;

		border-radius: 50%;

		cursor: pointer;
	}
}
.prev {
	background: url('@svg/slider/arrow.svg') $bottomBlack center center no-repeat;
	transform: rotate(180deg);
	flex: 0 0 44px;
	margin: 0 10px 0 0;

	&:hover {
		background-color: $bottomOrange;
	}
	transition: $animation;
	&.disable {
		cursor: auto;
		background-color: $sliderControlsColor;
	}
}

.dots {
	flex: 0 0 auto;
	height: 10px;
	display: flex;
	column-gap: 6px;
}
.dot {
	background: $sliderControlsColor;
	width: 10px;
	flex: 0 0 10px;
	height: 10px;
	border-radius: 50%;
	transition: $animation;
	cursor: pointer;
	&.active {
		background-color: $bottomBlack;
	}
}

.next {
	flex: 0 0 44px;
	background: url('@svg/slider/arrow.svg') $bottomBlack center center no-repeat;

	transition: $animation;
	&:hover {
		background-color: $bottomOrange;
	}
	margin: 0 0 0 10px;
	&.disable {
		cursor: auto;
		background-color: $sliderControlsColor;
	}
}
