section.bendra 
    .container
        .bendra__row 
            .bendra__column
                .bendra__img.img-bender
                    .img-bender__cooper 
                        .img-bender__man 
                        .img-bender__horses 
                        .img-bender__hand
                        .img-bender__banknote
                        .img-bender__glow-1
                        .img-bender__glow-2    
            .bendra__column
                .bendra__title.title
                    h3 и Сеанс #[span.title__orange одновременной игры в шахматы на 160 досках] гроссмейстера О. Бендера
                .bendra__table.table-bendra 
                    ul.table-bendra__items
                        li.table-bendra__item.table-bendra__item-name Место проведения:
                        li.table-bendra__item.table-bendra__item-value Клуб «Картонажник»
                        li.table-bendra__item.table-bendra__item-name Дата и время мероприятия:
                        li.table-bendra__item.table-bendra__item-value 22 июня 1927 г. в 18:00
                        li.table-bendra__item.table-bendra__item-name Стоимость входных билетов:
                        li.table-bendra__item.table-bendra__item-value 20 коп.
                        li.table-bendra__item.table-bendra__item-name Плата за игру:
                        li.table-bendra__item.table-bendra__item-value 50 коп.
                        li.table-bendra__item.table-bendra__item-name Взнос на телеграммы:
                        li.table-bendra__item.table-bendra__item-value #[span.struckOutText 100 руб.] 21 руб. 16 коп.
                .bender__feedback
                    a(href="#") По всем вопросам обращаться в администрацию к К. Михельсону 


