header.nav 
    .container
        .header__row 
            .header__logo.logo.url.logo__url a(href="#") 
                .logo__img img(src="@img/A3585A32-DB86-49B6-9.jpeg", alt="", srcset="")
                .logo__img img(src="", alt="", srcset="")
                .logo__img img(src="", alt="", srcset="")
                .logo__text 
                    span клуб
                    span четырех конец
