section.lecture
    .container 
        .lecture__row 
            .lecture__colum
                .lecture__title.title
                    h3 Чтобы поддержать Международный васюкинский турнир 
                        span.title__visibility посетите лекцию на тему: 
                            span.title__orange «Плодотворная дебютная идея»
            .lecture__colum
                .lecture__image 
                    img(src="@img/lecture/lectureTour.jpg", alt="lectureTour", srcset="")
    .header__marquee