.marquee
        ul.marquee__items.marquee__items2
            li.marquee__item Дело помощи утопающим — дело рук самих утопающих!
            li.marquee__item Шахматы двигают вперед не только культуру, но и экономику!
            li.marquee__item Лед тронулся, господа присяжные заседатели!