section.part
    .container 
        .part__row
            .part__title.title
                h2 Этапы преображения <br> Васюков
                .part__subtitle.subtitle.blueText 
                    h4 Будущие источники  обогащения васюцинцев
        .part__row 
            .part__content.slider-part
                .content-part__items.slider-part__content
                    .slider-part__item.content-part__item  
                        .content-part__text 
                            span Строительство железнодорожной магистрали Москва-Васюки  
                        .content-part__text 
                            span Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
                    .slider-part__item.content-part__item  
                        .content-part__text 
                            span Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
                    .slider-part__item.content-part__item  
                        .content-part__text 
                            span Строительство дворца для турнира
         
                        .content-part__text 
                            span Размещение гаражей для гостевого <br> автотранспорта
                    .slider-part__item.content-part__item  
                        .content-part__text 
                            span Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
                    .slider-part__item.content-part__item  
                        .content-part__text 
                            span Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы 