section.participants
    .container 
        .participants__row
            .participants__title.title
                h2 Участники турнира    
        .participants__row 
            .participants__content.carousel-participants
                .carousel-participants__wrappers
                    .content-participants__items.carousel-participants__content
                        .carousel-participants__item.content-participants__item  
                            .content-participants__text.participants-text 
                                .participants-text__img
                                    img(src="@svg/avatar.svg", alt="Хозе-Рауль Капабланка")
                                .participants-text__name
                                    span Хозе-Рауль Капабланка
                                .participants-text__dignity
                                    span Чемпион мира по шахматам
                                a(href="#").bottom.bottom__about.participants-text__about 
                                    span Подробнее
                        .carousel-participants__item.content-participants__item  
                            .content-participants__text.participants-text 
                                .participants-text__img
                                    img(src="@svg/avatar.svg", alt="Эммануил Ласкер")
                                .participants-text__name
                                    span Эммануил Ласкер
                                .participants-text__dignity
                                    span Чемпион мира по шахматам
                                a(href="#").bottom.bottom__about.participants-text__about 
                                    span Подробнее
                        .carousel-participants__item.content-participants__item  
                            .content-participants__text.participants-text 
                                .participants-text__img
                                    img(src="@svg/avatar.svg", alt="Александр Алехин")
                                .participants-text__name
                                    span Александр Алехин
                                .participants-text__dignity
                                    span Чемпион мира по шахматам
                                a(href="#").bottom.bottom__about.participants-text__about 
                                    span Подробнее
                        .carousel-participants__item.content-participants__item  
                            .content-participants__text.participants-text 
                                .participants-text__img
                                    img(src="@svg/avatar.svg", alt="Арон Нимцович")
                                .participants-text__name
                                    span Арон Нимцович
                                .participants-text__dignity
                                    span Чемпион мира по шахматам
                                a(href="#").bottom.bottom__about.participants-text__about 
                                    span Подробнее
                        .carousel-participants__item.content-participants__item  
                            .content-participants__text.participants-text 
                                .participants-text__img
                                    img(src="@svg/avatar.svg", alt="Рихард Рети")
                                .participants-text__name
                                    span Рихард Рети
                                .participants-text__dignity
                                    span Чемпион мира по шахматам
                                a(href="#").bottom.bottom__about.participants-text__about 
                                    span Подробнее
                        .carousel-participants__item.content-participants__item  
                            .content-participants__text.participants-text 
                                .participants-text__img
                                    img(src="@svg/avatar.svg", alt="Остап Бендер")
                                .participants-text__name
                                    span Остап Бендер
                                .participants-text__dignity
                                    span Чемпион мира по шахматам
                                a(href="#").bottom.bottom__about.participants-text__about 
                                    span Подробнее
    
                                