section.part
    .container 
        .part__row
            .part__title.title
                h2 Этапы преображения <br> Васюков
                .part__subtitle.subtitle.blueText 
                    h4 Будущие источники <br> обогащения васюцинцев
        .part__row 
            .part__content.content-part
                .content-part__items.slider 
                    .content-part-item.slider__item  
                        span Строительство железнодорожной магистрали Москва-Васюки
                    .content-part-item.slider__item  
                        span Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
                    .content-part-item.slider__item  
                        span Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
                    .content-part-item.slider__item  
                        span Строительство дворца для турнира
                    .content-part-item.slider__item  
                        span Размещение гаражей для гостевого автотранспорта
                    .content-part-item.slider__item  
                        span Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
                    .content-part-item.slider__item  
                        span Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн
                .slider__controls.controls
                    .prev.controls__item
                    .dots.controls__item 
                    .next.controls__item
                    