section.part
    .container 
        .part__row
            .part__title.title
                h2 Этапы преображения <br> Васюков
                .part__subtitle.subtitle 
                    h3 Будущие источники <br> обогащения васюцинцев
        .part__row 
            .part__content.content-part
                .content-part__items 
                    .content-part-item Строительство железнодорожной магистрали Москва-Васюки
                    .content-part-item Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
                    .content-part-item Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
                    .content-part-item Строительство дворца для турнира
                    .content-part-item Размещение гаражей для гостевого автотранспорта
                    .content-part-item Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
                    .content-part-item Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн