- var title = "JS";
- var description = "Test description";
- var keywords = "Test keywords";

include components/head

body.body 

    include components/header

    main.main 
        .title
            h1 Меню!!!
        
          
    include components/footer

