- var title = "JS";
- var description = "Test description";
- var keywords = "Test keywords";

include templates/components/head

body.body 

    include templates/components/header

    main.main 
        
          
    include templates/components/footer

